# Modern Data Analytics [G0Z39a]

## Project: Covid 19 in the USA

### Load packages

In [1]:
import mda_module_008 as mda

import os
import pandas as pd
import numpy as np


import plotly.graph_objs as go
import plotly.io as pio
import plotly.express as px

import plotly.offline as py
py.init_notebook_mode(connected=True)
pio.renderers.default = 'plotly_mimetype'
  
import matplotlib.pyplot as plt

import datetime as dt

import ipywidgets as widgets
from IPython.display import display

from sklearn.compose import ColumnTransformer 
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

import warnings
warnings.filterwarnings('ignore')

### Load data

In [2]:
cwd = os.getcwd()
us = pd.read_csv(cwd+"/covid-19-data/us.csv")
counties_df = pd.read_csv(cwd+"/covid-19-data/us-counties.csv")
states_df = pd.read_csv(cwd+"/covid-19-data/us-states.csv")
counties20 = pd.read_csv(cwd+"/covid-19-data/us-counties-2020.csv")
counties21 = pd.read_csv(cwd+"/covid-19-data/us-counties-2021.csv")
counties22 = pd.read_csv(cwd+"/covid-19-data/us-counties-2022.csv")
extra_data = pd.read_csv(cwd+"/data/extra_data.csv")

### Data Pre-Processing

In [3]:
counties20_clean = mda.counties_preprocessing(counties20)
counties21_clean = mda.counties_preprocessing(counties21)
counties22_clean = mda.counties_preprocessing(counties22)

### Data Info

In [4]:
perstate20 = mda.per_state(counties20_clean)
perstate21 = mda.per_state(counties21_clean)
perstate22 = mda.per_state(counties22_clean)
percounty20 = mda.per_county(counties20_clean)
percounty21 = mda.per_county(counties21_clean)
percounty22 = mda.per_county(counties22_clean)

In [5]:
state_stats20 = pd.DataFrame(counties20_clean.groupby('state').describe())
state_stats21 = pd.DataFrame(counties21_clean.groupby('state').describe())
state_stats22 = pd.DataFrame(counties22_clean.groupby('state').describe())

In [6]:
county_stats20 = pd.DataFrame(counties20_clean.groupby('county').describe())
county_stats21 = pd.DataFrame(counties21_clean.groupby('county').describe())
county_stats22 = pd.DataFrame(counties22_clean.groupby('county').describe())

### Map

In [7]:
mapdf = mda.extra_data_retriever(extra_data, mda.state_per_month(states_df))

In [8]:
def fig_creator(s):
    import plotly.express as px
    
    fig = px.scatter_geo(mapdf, locations="code", locationmode="USA-states", hover_name="state",
                     hover_data=["cases", "deaths", "1_dose", "complete_dose"], size=s, size_max=20,
                     animation_frame="date", projection="albers usa", title="Covid-19 evolution in US per state", width=1000, height=1000)
    fig.show()

widgets.interact(fig_creator,
                 s=widgets.Dropdown(
                     options=[("Cases", "cases"),
                              ("Deaths", "deaths"),
                              ("One Vaccination Dose", "1_dose"),
                              ("Complete Vaccination", "complete_dose")],
                     description='Select:'));

### Time Series plot

In [9]:
us_timeseries = mda.timeseries_process(us, "us")
state_timeseries = mda.timeseries_process(states_df, "state")
counties = pd.concat([counties20_clean, counties21_clean, counties22_clean])
counties_timeseries = mda.timeseries_process(counties, "county")

In [10]:
dropdown_case = widgets.Dropdown(options=[("Daily Cases", 'daily_cases'), ("Daily Deaths", 'daily_deaths')])
dropdown_level = widgets.Dropdown(options=[('USA','us'),('State','state'), ('County','county')])
dropdown_state = widgets.Dropdown(options=state_timeseries['state'].unique())
dropdown_county = widgets.Dropdown(options=counties_timeseries['county'].unique())
input_widgets = widgets.HBox([dropdown_case, dropdown_level])

output = widgets.Output()
def com_filter(case, level, state, county):
    output.clear_output()
    if level == 'us':
        with output:
            mda.plot(us_timeseries, level="us", y=case)
    elif level == "state":
        with output:
            display(dropdown_state)
            mda.plot(state_timeseries, level="state", y=case, state=state)
    elif level == "county":
        with output:
            display(dropdown_county)
            mda.plot(counties_timeseries, level="county", y=case, county=county)

def dropdown_case_eventhandler(change):
    com_filter(change.new, dropdown_level.value, dropdown_state.value, dropdown_county.value)

def dropdown_level_eventhandler(change):
    com_filter(dropdown_case.value, change.new, dropdown_state.value, dropdown_county.value)    
    
def dropdown_state_eventhandler(change):
    com_filter(dropdown_case.value, dropdown_level.value, change.new, dropdown_county.value)
    
def dropdown_county_eventhandler(change):
    com_filter(dropdown_case.value, dropdown_level.value, dropdown_state.value, change.new)
    
dropdown_case.observe(dropdown_case_eventhandler, names='value')
dropdown_level.observe(dropdown_level_eventhandler, names='value')
dropdown_state.observe(dropdown_state_eventhandler, names='value')
dropdown_county.observe(dropdown_county_eventhandler, names='value')
display(input_widgets)


display(output)

### Clustering

In [11]:
df = mapdf.copy(deep=True)

In [12]:
df20_processed, df21_processed, df22_processed = mda.cluster_process(df)

#### 2020

In [13]:
warnings.filterwarnings('ignore')

clusterdf20, Z20, silhoutte20, ari20 = mda.cluster_algorithm(df20_processed, "KMeans")

fig20 = go.Figure(
    data=go.Scatter(
        x=clusterdf20["PC1"].values,
        y=clusterdf20["PC2"].values,
        text=clusterdf20.index,
        mode='markers',
        marker=go.Marker(
            size=df20_processed["deaths"],
            sizemode='diameter',
            sizeref=df20_processed["deaths"].max()/50,
            opacity=1,
            color=Z20
        )
    )
)

fig20.update_layout(
    go.Layout(
        title='US State Cluster Analysis 2020',
        xaxis=go.XAxis(title="PC1", showgrid=True, zeroline=True, showticklabels=True),
        yaxis=go.YAxis(title="PC2", showgrid=True, zeroline=True, showticklabels=True),
        hovermode='closest'
    )
)

fig20.show()

#### 2021

In [14]:
warnings.filterwarnings('ignore')

clusterdf21, Z21, silhoutte21, ari21 = mda.cluster_algorithm(df21_processed, "KMeans")

fig21 = go.Figure(
    data=go.Scatter(
        x=clusterdf21["PC1"].values,
        y=clusterdf21["PC2"].values,
        text=clusterdf21.index,
        mode='markers',
        marker=go.Marker(
            size=df21_processed["deaths"],
            sizemode='diameter',
            sizeref=df21_processed["deaths"].max()/50,
            opacity=1,
            color=Z21
        )
    )
)

fig21.update_layout(
    go.Layout(
        title='US State Cluster Analysis 2021',
        xaxis=go.XAxis(title="PC1", showgrid=True, zeroline=True, showticklabels=True),
        yaxis=go.YAxis(title="PC2", showgrid=True, zeroline=True, showticklabels=True),
        hovermode='closest'
    )
)

fig21.show()

#### 2022

In [15]:
warnings.filterwarnings('ignore')

clusterdf22, Z22, silhoutte22, ari22 = mda.cluster_algorithm(df22_processed, "KMeans")

fig22 = go.Figure(
    data=go.Scatter(
        x=clusterdf22["PC1"].values,
        y=clusterdf22["PC2"].values,
        text=clusterdf22.index,
        mode='markers',
        marker=go.Marker(
            size=df22_processed["deaths"],
            sizemode='diameter',
            sizeref=df22_processed["deaths"].max()/50,
            opacity=1,
            color=Z22
        )
    )
)

fig22.update_layout(
    go.Layout(
        title='US State Cluster Analysis 2022',
        xaxis=go.XAxis(title="PC1", showgrid=True, zeroline=True, showticklabels=True),
        yaxis=go.YAxis(title="PC2", showgrid=True, zeroline=True, showticklabels=True),
        hovermode='closest'
    )
)

fig22.show()

### Linear Regression

In [53]:
def linear_regressor(df, a=1.0):
    from sklearn.pipeline import Pipeline
    from sklearn.preprocessing import StandardScaler
    from sklearn.metrics import mean_squared_error
    from sklearn.model_selection import train_test_split
    from sklearn import linear_model
    import pandas as pd
    import numpy as np
    
    new_df = df.drop(["latitude", "longitude", "1_dose", "population", "risk_category"], axis=1)
    
    scaler = StandardScaler()
    scaler.fit_transform(new_df)
    
    X = np.array(new_df.loc[:,["cases", "complete_dose"]].values)
    y = np.array(new_df.loc[:,["deaths"]].values)
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, test_size = 0.2, random_state=0)    
    
    ols_model = linear_model.LinearRegression()
    ridge_model = linear_model.Ridge(alpha=a)
    lasso_model = linear_model.Lasso(alpha=a)
    
    b1 = []
    b2 = []
    intercepts = []
    r2_train = []
    r2_test = []
    mses = []
    
    ols_model.fit(X_train, y_train)
    b1.append(ols_model.coef_[0][0])
    b2.append(ols_model.coef_[0][1])
    intercepts.append(ols_model.intercept_[0])
    r2_train.append(ols_model.score(X_train, y_train))
    r2_test.append(ols_model.score(X_test, y_test))
    mses.append(mean_squared_error(y_train, ols_model.predict(X_train))**0.5)
    
    ridge_model.fit(X_train, y_train)
    b1.append(ridge_model.coef_[0][0])
    b2.append(ridge_model.coef_[0][1])
    intercepts.append(ridge_model.intercept_[0])
    r2_train.append(ridge_model.score(X_train, y_train))
    r2_test.append(ridge_model.score(X_test, y_test))
    mses.append(mean_squared_error(y_train, ridge_model.predict(X_train))**0.5)
    
    lasso_model.fit(X_train, y_train)
    b1.append(lasso_model.coef_[0])
    b2.append(lasso_model.coef_[1])
    intercepts.append(lasso_model.intercept_[0])
    r2_train.append(lasso_model.score(X_train, y_train))
    r2_test.append(lasso_model.score(X_test, y_test))
    mses.append(mean_squared_error(y_train, lasso_model.predict(X_train))**0.5)
    
    results = pd.DataFrame({"Model":["OLS", "Ridge", "Lasso"],
                            "a": ["-", a, a],
                            "Intercept": intercepts,
                            "β1": b1,
                            "β2": b2,
                            "R2 training": r2_train,
                            "R2 testing": r2_test,
                            "MSE": mses})
    return results

In [54]:
linear_results = linear_regressor(df21_processed, a=2)

In [55]:
linear_results

,Model,a,Intercept,β1,β2,R2 training,R2 testing,MSE
0,OLS,-,-986.210868,0.016506,-0.000644,0.969022,0.983616,2768.504152
1,Ridge,2,-986.210868,0.016506,-0.000644,0.969022,0.983616,2768.504152
2,Lasso,2,-986.210867,0.016506,-0.000644,0.969022,0.983616,2768.504152

### Linear Mixed Effects Models

In [36]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [37]:
lmem = mda.lmem_process(mapdf)

In [39]:
lmem

,state,month,year,latitude,longitude,cases,deaths,1_dose,complete_dose,population,monthly_cases,monthly_deaths,monthly_1dose,monthly_completedose
0,Alabama,3,2020,32.601011,-86.680736,999,14,0,0,4903185,999,14,0,0
1,Alabama,4,2020,32.601011,-86.680736,7068,272,0,0,4903185,6069,258,0,0
2,Alabama,5,2020,32.601011,-86.680736,17952,630,0,0,4903185,10884,358,0,0
3,Alabama,6,2020,32.601011,-86.680736,38045,950,0,0,4903185,20093,320,0,0
4,Alabama,7,2020,32.601011,-86.680736,87723,1580,0,0,4903185,49678,630,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,Wyoming,25,2022,43.000325,-107.554567,146505,1625,62640,54351,578759,30867,99,3181,3799
241,Wyoming,26,2022,43.000325,-107.554567,155101,1718,63254,55093,578759,8596,93,614,742
242,Wyoming,27,2022,43.000325,-107.554567,156112,1791,63619,55498,578759,1011,73,365,405
243,Wyoming,28,2022,43.000325,-107.554567,156550,1812,64139,56324,578759,438,21,520,826
244,Wyoming,29,2022,43.000325,-107.554567,157861,1820,64382,56494,578759,1311,8,243,170

In [40]:
lmem2020 = lmem[lmem["year"]==2020]
lmem2021 = lmem[lmem["year"]==2021]
lmem2022 = lmem[lmem["year"]==2022]

In [41]:
temp_df = lmem2021.copy(deep=True)
temp_df["month"]-=12
month_dict = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 12:"December"}
temp_df["month"] = temp_df["month"].map(month_dict)

def fig_creator2(selection):
    import plotly.express as px
    
    title_dict = {"monthly_cases":"Monthly Cases",
                  "monthly_deaths":"Monthly Deaths",
                  "monthly_1dose":"Monthly Vaccination Dose",
                  "monthly_completedose":"Monthly Complete Vaccinations"}
    
    fig = px.strip(temp_df, x='month', y=selection, color="state", title=f"{title_dict[selection]} per month in 2021",
                   hover_data=["monthly_cases", "monthly_deaths", "monthly_1dose", "monthly_completedose"],
                   labels={selection:title_dict[selection]})
    fig.show()

widgets.interact(fig_creator2,
                 selection=widgets.Dropdown(
                     options=[("Monthly Cases", "monthly_cases"),
                              ("Monthly Deaths", "monthly_deaths"),
                              ("Monthly Vaccination Dose", "monthly_1dose"),
                              ("Monthly Complete Vaccinations", "monthly_completedose")],
                     description='Select:'));

interactive(children=(Dropdown(description='Select:', options=(('Monthly Cases', 'monthly_cases'), ('Monthly D…

In [42]:
temp_df = lmem2021.copy(deep=True)
temp_df["month"]-=12

def fig_creator3(selection1, selection2):
    import plotly.express as px
    
    title_dict = {"monthly_cases":"Monthly Cases",
                  "monthly_deaths":"Monthly Deaths",
                  "monthly_1dose":"Monthly Vaccination Dose",
                  "monthly_completedose":"Monthly Complete Vaccinations"}
    
    fig = px.scatter(temp_df[temp_df["state"]==selection2], x="month", y=selection1, trendline="ols",
                     title=f"{title_dict[selection1]} in {selection2} 2021",
                    labels={selection1:title_dict[selection1]})
    fig.show()

selection2_options = []
for s in lmem2021["state"].unique():
    selection2_options.append((s,s))

widgets.interact(fig_creator3,
                 
                 selection1=widgets.Dropdown(
                     options=[("Monthly Cases", "monthly_cases"),
                              ("Monthly Deaths", "monthly_deaths"),
                              ("Monthly Vaccination Dose", "monthly_1dose"),
                              ("Monthly Complete Vaccinations", "monthly_completedose")],
                     description='Select:'),
                 
                 selection2=widgets.Dropdown(
                     options=selection2_options,
                     description='Select:'));

interactive(children=(Dropdown(description='Select:', options=(('Monthly Cases', 'monthly_cases'), ('Monthly D…

In [43]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [59]:
temp_df = lmem2021.copy(deep=True)
temp_df = temp_df[["state", "month", "cases", "deaths"]]
temp_df["month"]-=12
month_dict = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 12:"December"}
temp_df["month"] = temp_df["month"].map(month_dict)

In [60]:
# Run LMER
md = smf.mixedlm("cases ~ month", temp_df, groups=temp_df["state"], re_formula="~month")
mdf = md.fit(method=["lbfgs"])
print(mdf.summary())

                                  Mixed Linear Model Regression Results
==========================================================================================================
Model:                           MixedLM                Dependent Variable:                cases
No. Observations:                588                    Method:                            REML
No. Groups:                      49                     Scale:                             1365545318.1121
Min. group size:                 12                     Log-Likelihood:                    -7292.9412
Max. group size:                 12                     Converged:                         Yes
Mean group size:                 12.0
----------------------------------------------------------------------------------------------------------
                                                Coef.        Std.Err.    z    P>|z|    [0.025     0.975]
----------------------------------------------------------------------------------------------------------
Intercept                                        655210.306  43770.629 14.969 0.000  569421.450 740999.162
month[T.August]                                  140262.041  14240.369  9.850 0.000  112351.430 168172.652
month[T.December]                                449824.449  28324.462 15.881 0.000  394309.524 505339.374
month[T.February]                                -75400.429  12241.276 -6.160 0.000  -99392.889 -51407.968
month[T.January]                                -124180.755  14178.238 -8.759 0.000 -151969.591 -96391.919
month[T.July]                                     53636.061  10063.124  5.330 0.000   33912.701  73359.421
month[T.June]                                     25789.939   9860.095  2.616 0.009    6464.507  45115.371
month[T.March]                                   -37821.898  11698.625 -3.233 0.001  -60750.782 -14893.014
month[T.May]                                      18441.204  10504.876  1.755 0.079   -2147.975  39030.383
month[T.November]                                326809.122  20528.445 15.920 0.000  286574.110 367044.135
month[T.October]                                 274241.694  21499.672 12.756 0.000  232103.112 316380.276
month[T.September]                               224020.143  21661.579 10.342 0.000  181564.229 266476.057
Group Var                                   92511984255.907 211771.697
Group x month[T.August] Cov                 23708061636.886  63925.798
month[T.August] Var                          7205527162.633  30517.495
Group x month[T.December] Cov               52632158098.745 123976.225
month[T.August] x month[T.December] Cov     13709845309.110  44690.892
month[T.December] Var                       36580391095.968  97400.695
Group x month[T.February] Cov               -6195458748.954  55363.759
month[T.August] x month[T.February] Cov     -2167560144.787  22485.998
month[T.December] x month[T.February] Cov   -8700738960.085  40351.342
month[T.February] Var                        4611502533.610
Group x month[T.January] Cov               -13387822852.194  61450.038
month[T.August] x month[T.January] Cov      -3861749173.540  21799.578
month[T.December] x month[T.January] Cov   -12649857074.638  43813.129
month[T.February] x month[T.January] Cov     4825863245.680
month[T.January] Var                         7119008518.064
Group x month[T.July] Cov                    7780398282.747  47598.642
month[T.August] x month[T.July] Cov          1915480534.028  23690.460
month[T.December] x month[T.July] Cov        4476253971.874  35287.464
month[T.February] x month[T.July] Cov        -570680516.642
month[T.January] x month[T.July] Cov        -1088771825.479
month[T.July] Var                            2230965711.105
Group x month[T.June] Cov                    2799770652.601  52750.433
month[T.August] x month[T.June] Cov           -23342659.643  24811.654
month[T.December] x month[T.June] Cov        2332882996.291  35418.874
month[T.February] x month[T.June] Cov        -545906553.797
month[T.January] x month[T.June] Cov         -715975811.357
month[T.July] x month[T.June] Cov             398091640.992
month[T.June] Var                            2032761903.777
Group x month[T.March] Cov                  -2620929671.663  59631.037
month[T.August] x month[T.March] Cov        -1318619981.384  26762.123
month[T.December] x month[T.March] Cov      -4468267808.142  39940.164
month[T.February] x month[T.March] Cov       2613460564.133
month[T.January] x month[T.March] Cov        2959236792.743
month[T.July] x month[T.March] Cov             86028709.128
month[T.June] x month[T.March] Cov            441665392.808
month[T.March] Var                           3974942937.663
Group x month[T.May] Cov                     1640367913.373  56636.472
month[T.August] x month[T.May] Cov           -295601183.569  26822.048
month[T.December] x month[T.May] Cov         1824472738.185  38149.958
month[T.February] x month[T.May] Cov         -591737033.044
month[T.January] x month[T.May] Cov          -669344106.555
month[T.July] x month[T.May] Cov              304230510.672
month[T.June] x month[T.May] Cov              821200418.386
month[T.March] x month[T.May] Cov             367312975.542
month[T.May] Var                             2676178080.643
Group x month[T.November] Cov               37136749646.596  85941.228
month[T.August] x month[T.November] Cov     10635099110.513  32656.831
month[T.December] x month[T.November] Cov   24734504163.001  62758.595
month[T.February] x month[T.November] Cov   -5639081020.639  24065.457
month[T.January] x month[T.November] Cov    -8446073719.804  27619.104
month[T.July] x month[T.November] Cov        3021592734.559  21527.272
month[T.June] x month[T.November] Cov         836658763.979  20603.060
month[T.March] x month[T.November] Cov      -3171620239.286  23797.285
month[T.May] x month[T.November] Cov          412362614.967  21995.878
month[T.November] Var                       17918344178.057  47775.646
Group x month[T.October] Cov                36116761338.657  96289.694
month[T.August] x month[T.October] Cov      11044643196.757  40055.977
month[T.December] x month[T.October] Cov    22822712184.235  67685.737
month[T.February] x month[T.October] Cov    -4769751771.645  21252.819
month[T.January] x month[T.October] Cov     -7320895849.406  25433.971
month[T.July] x month[T.October] Cov         2749862599.790  19219.092
month[T.June] x month[T.October] Cov          122797829.358  15742.022
month[T.March] x month[T.October] Cov       -3105075469.316  18354.946
month[T.May] x month[T.October] Cov          -453869706.982  16882.953
month[T.November] x month[T.October] Cov    17290969153.328  48378.422
month[T.October] Var                        19918467347.367  56861.407
Group x month[T.September] Cov              32868435773.938  99629.395
month[T.August] x month[T.September] Cov    10503810943.669  42606.578
month[T.December] x month[T.September] Cov  20296770463.756  69476.710
month[T.February] x month[T.September] Cov  -4128537996.018  20185.132
month[T.January] x month[T.September] Cov   -6353382962.336  24387.678
month[T.July] x month[T.September] Cov       2388533750.299  18639.509
month[T.June] x month[T.September] Cov       -276875743.148  14353.960
month[T.March] x month[T.September] Cov     -2941248601.947  16318.705
month[T.May] x month[T.September] Cov        -898445971.007  15571.340
month[T.November] x month[T.September] Cov  15959971806.553  49215.503
month[T.October] x month[T.September] Cov   18814819123.153  56297.489
month[T.September] Var                      20260884781.072  62426.706
==========================================================================================================

C:\Users\35799\anaconda3\envs\mda_2022\lib\site-packages\statsmodels\regression\mixed_linear_model.py:2261: ConvergenceWarning:

The Hessian matrix at the estimated parameter values is not positive definite.

In [61]:
# Run LMER
md = smf.mixedlm("deaths ~ month", temp_df, groups=temp_df["state"], re_formula="~month")
mdf = md.fit(method=["lbfgs"])
print(mdf.summary())

                              Mixed Linear Model Regression Results
=================================================================================================
Model:                          MixedLM              Dependent Variable:              deaths
No. Observations:               588                  Method:                          REML
No. Groups:                     49                   Scale:                           422353.3157
Min. group size:                12                   Log-Likelihood:                  -5005.4899
Max. group size:                12                   Converged:                       Yes
Mean group size:                12.0
-------------------------------------------------------------------------------------------------
                                              Coef.     Std.Err.   z    P>|z|   [0.025    0.975]
-------------------------------------------------------------------------------------------------
Intercept                                     11667.857  900.951 12.951 0.000  9902.026 13433.688
month[T.August]                                1305.776  190.517  6.854 0.000   932.369  1679.182
month[T.December]                              5033.388  440.094 11.437 0.000  4170.819  5895.956
month[T.February]                             -1269.755  218.763 -5.804 0.000 -1698.523  -840.987
month[T.January]                              -2729.204  296.034 -9.219 0.000 -3309.421 -2148.988
month[T.July]                                   749.980  192.847  3.889 0.000   372.007  1127.952
month[T.June]                                   578.449  201.637  2.869 0.004   183.248   973.649
month[T.March]                                 -487.082  210.274 -2.316 0.021  -899.212   -74.952
month[T.May]                                    373.388  213.603  1.748 0.080   -45.266   792.042
month[T.November]                              4155.592  420.406  9.885 0.000  3331.612  4979.572
month[T.October]                               3436.878  385.068  8.925 0.000  2682.158  4191.597
month[T.September]                             2470.163  316.174  7.813 0.000  1850.474  3089.852
Group Var                                  39351533.494 5394.139
Group x month[T.August] Cov                 4261603.850  912.545
month[T.August] Var                          933830.306
Group x month[T.December] Cov              12066740.343 2136.368
month[T.August] x month[T.December] Cov     1024705.395
month[T.December] Var                       8645753.523 1370.448
Group x month[T.February] Cov              -3782375.181 1039.134
month[T.August] x month[T.February] Cov     -361896.903
month[T.December] x month[T.February] Cov  -3478796.075  409.478
month[T.February] Var                       1500301.856
Group x month[T.January] Cov               -9340206.152 1570.258
month[T.August] x month[T.January] Cov      -970238.018   91.349
month[T.December] x month[T.January] Cov   -4948819.059  771.382
month[T.February] x month[T.January] Cov    1786319.839  227.146
month[T.January] Var                        3449470.677  549.162
Group x month[T.July] Cov                   2495144.803  930.173
month[T.August] x month[T.July] Cov          224734.290
month[T.December] x month[T.July] Cov       -313293.400  220.057
month[T.February] x month[T.July] Cov        242158.297
month[T.January] x month[T.July] Cov          29942.589
month[T.July] Var                            977595.489
Group x month[T.June] Cov                   2277292.092  969.068
month[T.August] x month[T.June] Cov          215646.148
month[T.December] x month[T.June] Cov       -589624.796  277.488
month[T.February] x month[T.June] Cov        354131.138
month[T.January] x month[T.June] Cov         195533.603
month[T.July] x month[T.June] Cov            390802.397
month[T.June] Var                           1147502.435
Group x month[T.March] Cov                  -812421.218 1000.616
month[T.August] x month[T.March] Cov         -95240.032
month[T.December] x month[T.March] Cov     -1991038.678  274.563
month[T.February] x month[T.March] Cov       859939.648
month[T.January] x month[T.March] Cov       1127357.203
month[T.July] x month[T.March] Cov           305731.408
month[T.June] x month[T.March] Cov           451880.527
month[T.March] Var                          1321842.550
Group x month[T.May] Cov                    2066632.560 1009.929
month[T.August] x month[T.May] Cov           190290.567
month[T.December] x month[T.May] Cov        -742364.373  261.030
month[T.February] x month[T.May] Cov         417872.645
month[T.January] x month[T.May] Cov          279347.390
month[T.July] x month[T.May] Cov             394264.367
month[T.June] x month[T.May] Cov             514389.865
month[T.March] x month[T.May] Cov            564720.231
month[T.May] Var                            1390979.676
Group x month[T.November] Cov              10410461.458 1941.595
month[T.August] x month[T.November] Cov      899439.113  235.318
month[T.December] x month[T.November] Cov   7928955.561 1318.246
month[T.February] x month[T.November] Cov  -3147587.888  271.920
month[T.January] x month[T.November] Cov   -4790724.572  710.224
month[T.July] x month[T.November] Cov       -428513.035
month[T.June] x month[T.November] Cov       -711456.508   29.987
month[T.March] x month[T.November] Cov     -1959969.989  206.670
month[T.May] x month[T.November] Cov        -877154.393  164.802
month[T.November] Var                       7815602.838 1261.979
Group x month[T.October] Cov                8608963.401 1699.365
month[T.August] x month[T.October] Cov       726833.425  100.223
month[T.December] x month[T.October] Cov    6586705.945 1163.874
month[T.February] x month[T.October] Cov   -2601417.269
month[T.January] x month[T.October] Cov    -4016922.236  611.004
month[T.July] x month[T.October] Cov        -349618.326
month[T.June] x month[T.October] Cov        -595955.041
month[T.March] x month[T.October] Cov      -1633997.684
month[T.May] x month[T.October] Cov         -745074.940
month[T.November] x month[T.October] Cov    6597492.345 1066.305
month[T.October] Var                        6420886.406  916.284
Group x month[T.September] Cov              6422868.276 1380.278
month[T.August] x month[T.September] Cov     508989.279
month[T.December] x month[T.September] Cov  4607050.646  834.243
month[T.February] x month[T.September] Cov -1792362.194
month[T.January] x month[T.September] Cov  -2834861.372  443.881
month[T.July] x month[T.September] Cov      -159199.097
month[T.June] x month[T.September] Cov      -320593.828
month[T.March] x month[T.September] Cov    -1069963.820
month[T.May] x month[T.September] Cov       -424793.434
month[T.November] x month[T.September] Cov  4612458.507  776.972
month[T.October] x month[T.September] Cov   4191473.850  723.129
month[T.September] Var                      4053616.341  264.225
=================================================================================================

C:\Users\35799\anaconda3\envs\mda_2022\lib\site-packages\statsmodels\regression\mixed_linear_model.py:2261: ConvergenceWarning:

The Hessian matrix at the estimated parameter values is not positive definite.

In [62]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
 
tempdf_scaled = scaler.fit_transform(temp_df.drop(["state", "month"], axis=1).to_numpy())
tempdf_scaled = pd.DataFrame(tempdf_scaled, columns=['cases', 'deaths'])
tempdf_scaled["state"]=temp_df["state"]
tempdf_scaled["month"]=temp_df["month"]

In [64]:
# Run LMER
md = smf.mixedlm("cases ~ month", tempdf_scaled, groups=tempdf_scaled["state"], re_formula="~month")
mdf = md.fit(method=["lbfgs"])
print(mdf.summary())

C:\Users\35799\anaconda3\envs\mda_2022\lib\site-packages\statsmodels\regression\mixed_linear_model.py:2237: ConvergenceWarning:

The MLE may be on the boundary of the parameter space.

                        Mixed Linear Model Regression Results
=====================================================================================
Model:                       MixedLM           Dependent Variable:           cases
No. Observations:            588               Method:                       REML
No. Groups:                  49                Scale:                        0.0018
Min. group size:             12                Log-Likelihood:               582.6030
Max. group size:             12                Converged:                    Yes
Mean group size:             12.0
-------------------------------------------------------------------------------------
                                           Coef.  Std.Err.   z    P>|z| [0.025 0.975]
-------------------------------------------------------------------------------------
Intercept                                  -0.123    0.050 -2.429 0.015 -0.222 -0.024
month[T.August]                             0.162    0.016  9.850 0.000  0.130  0.194
month[T.December]                           0.519    0.033 15.881 0.000  0.455  0.583
month[T.February]                          -0.087    0.014 -6.160 0.000 -0.115 -0.059
month[T.January]                           -0.143    0.016 -8.759 0.000 -0.175 -0.111
month[T.July]                               0.062    0.012  5.330 0.000  0.039  0.085
month[T.June]                               0.030    0.011  2.616 0.009  0.007  0.052
month[T.March]                             -0.044    0.013 -3.233 0.001 -0.070 -0.017
month[T.May]                                0.021    0.012  1.755 0.079 -0.002  0.045
month[T.November]                           0.377    0.024 15.920 0.000  0.331  0.423
month[T.October]                            0.316    0.025 12.756 0.000  0.268  0.365
month[T.September]                          0.258    0.025 10.342 0.000  0.209  0.307
Group Var                                   0.123    0.244
Group x month[T.August] Cov                 0.032    0.074
month[T.August] Var                         0.010    0.035
Group x month[T.December] Cov               0.070    0.143
month[T.August] x month[T.December] Cov     0.018    0.052
month[T.December] Var                       0.049    0.112
Group x month[T.February] Cov              -0.008    0.064
month[T.August] x month[T.February] Cov    -0.003    0.026
month[T.December] x month[T.February] Cov  -0.012    0.047
month[T.February] Var                       0.006
Group x month[T.January] Cov               -0.018    0.071
month[T.August] x month[T.January] Cov     -0.005    0.025
month[T.December] x month[T.January] Cov   -0.017    0.051
month[T.February] x month[T.January] Cov    0.006
month[T.January] Var                        0.009
Group x month[T.July] Cov                   0.010    0.055
month[T.August] x month[T.July] Cov         0.003    0.027
month[T.December] x month[T.July] Cov       0.006    0.041
month[T.February] x month[T.July] Cov      -0.001
month[T.January] x month[T.July] Cov       -0.001
month[T.July] Var                           0.003
Group x month[T.June] Cov                   0.004    0.061
month[T.August] x month[T.June] Cov        -0.000    0.029
month[T.December] x month[T.June] Cov       0.003    0.041
month[T.February] x month[T.June] Cov      -0.001
month[T.January] x month[T.June] Cov       -0.001
month[T.July] x month[T.June] Cov           0.001
month[T.June] Var                           0.003
Group x month[T.March] Cov                 -0.003    0.069
month[T.August] x month[T.March] Cov       -0.002    0.031
month[T.December] x month[T.March] Cov     -0.006    0.046
month[T.February] x month[T.March] Cov      0.003
month[T.January] x month[T.March] Cov       0.004
month[T.July] x month[T.March] Cov          0.000
month[T.June] x month[T.March] Cov          0.001
month[T.March] Var                          0.005
Group x month[T.May] Cov                    0.002    0.065
month[T.August] x month[T.May] Cov         -0.000    0.031
month[T.December] x month[T.May] Cov        0.002    0.044
month[T.February] x month[T.May] Cov       -0.001
month[T.January] x month[T.May] Cov        -0.001
month[T.July] x month[T.May] Cov            0.000
month[T.June] x month[T.May] Cov            0.001
month[T.March] x month[T.May] Cov           0.000
month[T.May] Var                            0.004
Group x month[T.November] Cov               0.049    0.099
month[T.August] x month[T.November] Cov     0.014    0.038
month[T.December] x month[T.November] Cov   0.033    0.072
month[T.February] x month[T.November] Cov  -0.008    0.028
month[T.January] x month[T.November] Cov   -0.011    0.032
month[T.July] x month[T.November] Cov       0.004    0.025
month[T.June] x month[T.November] Cov       0.001    0.024
month[T.March] x month[T.November] Cov     -0.004    0.027
month[T.May] x month[T.November] Cov        0.001    0.025
month[T.November] Var                       0.024    0.055
Group x month[T.October] Cov                0.048    0.111
month[T.August] x month[T.October] Cov      0.015    0.046
month[T.December] x month[T.October] Cov    0.030    0.078
month[T.February] x month[T.October] Cov   -0.006    0.025
month[T.January] x month[T.October] Cov    -0.010    0.029
month[T.July] x month[T.October] Cov        0.004    0.022
month[T.June] x month[T.October] Cov        0.000    0.018
month[T.March] x month[T.October] Cov      -0.004    0.021
month[T.May] x month[T.October] Cov        -0.001    0.019
month[T.November] x month[T.October] Cov    0.023    0.056
month[T.October] Var                        0.026    0.066
Group x month[T.September] Cov              0.044    0.115
month[T.August] x month[T.September] Cov    0.014    0.049
month[T.December] x month[T.September] Cov  0.027    0.080
month[T.February] x month[T.September] Cov -0.005    0.023
month[T.January] x month[T.September] Cov  -0.008    0.028
month[T.July] x month[T.September] Cov      0.003    0.021
month[T.June] x month[T.September] Cov     -0.000    0.017
month[T.March] x month[T.September] Cov    -0.004    0.019
month[T.May] x month[T.September] Cov      -0.001    0.018
month[T.November] x month[T.September] Cov  0.021    0.057
month[T.October] x month[T.September] Cov   0.025    0.065
month[T.September] Var                      0.027    0.072
=====================================================================================

C:\Users\35799\anaconda3\envs\mda_2022\lib\site-packages\statsmodels\regression\mixed_linear_model.py:2261: ConvergenceWarning:

The Hessian matrix at the estimated parameter values is not positive definite.

In [65]:
# Run LMER
md = smf.mixedlm("deaths ~ month", tempdf_scaled, groups=tempdf_scaled["state"], re_formula="~month")
mdf = md.fit(method=["lbfgs"])
print(mdf.summary())

C:\Users\35799\anaconda3\envs\mda_2022\lib\site-packages\statsmodels\regression\mixed_linear_model.py:2237: ConvergenceWarning:

The MLE may be on the boundary of the parameter space.

                        Mixed Linear Model Regression Results
=====================================================================================
Model:                       MixedLM           Dependent Variable:           deaths
No. Observations:            588               Method:                       REML
No. Groups:                  49                Scale:                        0.0019
Min. group size:             12                Log-Likelihood:               526.8008
Max. group size:             12                Converged:                    Yes
Mean group size:             12.0
-------------------------------------------------------------------------------------
                                           Coef.  Std.Err.   z    P>|z| [0.025 0.975]
-------------------------------------------------------------------------------------
Intercept                                  -0.077    0.061 -1.260 0.208 -0.196  0.043
month[T.August]                             0.088    0.013  6.854 0.000  0.063  0.113
month[T.December]                           0.339    0.030 11.437 0.000  0.281  0.397
month[T.February]                          -0.086    0.015 -5.804 0.000 -0.115 -0.057
month[T.January]                           -0.184    0.020 -9.219 0.000 -0.223 -0.145
month[T.July]                               0.051    0.013  3.889 0.000  0.025  0.076
month[T.June]                               0.039    0.014  2.869 0.004  0.012  0.066
month[T.March]                             -0.033    0.014 -2.316 0.021 -0.061 -0.005
month[T.May]                                0.025    0.014  1.748 0.080 -0.003  0.053
month[T.November]                           0.280    0.028  9.885 0.000  0.225  0.336
month[T.October]                            0.232    0.026  8.925 0.000  0.181  0.283
month[T.September]                          0.167    0.021  7.813 0.000  0.125  0.208
Group Var                                   0.179    0.364
Group x month[T.August] Cov                 0.019    0.062
month[T.August] Var                         0.004
Group x month[T.December] Cov               0.055    0.144
month[T.August] x month[T.December] Cov     0.005
month[T.December] Var                       0.039    0.092
Group x month[T.February] Cov              -0.017    0.070
month[T.August] x month[T.February] Cov    -0.002
month[T.December] x month[T.February] Cov  -0.016    0.028
month[T.February] Var                       0.007
Group x month[T.January] Cov               -0.042    0.106
month[T.August] x month[T.January] Cov     -0.004    0.006
month[T.December] x month[T.January] Cov   -0.022    0.052
month[T.February] x month[T.January] Cov    0.008    0.015
month[T.January] Var                        0.016    0.037
Group x month[T.July] Cov                   0.011    0.063
month[T.August] x month[T.July] Cov         0.001
month[T.December] x month[T.July] Cov      -0.001    0.015
month[T.February] x month[T.July] Cov       0.001
month[T.January] x month[T.July] Cov        0.000
month[T.July] Var                           0.004
Group x month[T.June] Cov                   0.010    0.065
month[T.August] x month[T.June] Cov         0.001
month[T.December] x month[T.June] Cov      -0.003    0.019
month[T.February] x month[T.June] Cov       0.002
month[T.January] x month[T.June] Cov        0.001
month[T.July] x month[T.June] Cov           0.002
month[T.June] Var                           0.005
Group x month[T.March] Cov                 -0.004    0.067
month[T.August] x month[T.March] Cov       -0.000
month[T.December] x month[T.March] Cov     -0.009    0.019
month[T.February] x month[T.March] Cov      0.004
month[T.January] x month[T.March] Cov       0.005
month[T.July] x month[T.March] Cov          0.001
month[T.June] x month[T.March] Cov          0.002
month[T.March] Var                          0.006
Group x month[T.May] Cov                    0.009    0.068
month[T.August] x month[T.May] Cov          0.001
month[T.December] x month[T.May] Cov       -0.003    0.018
month[T.February] x month[T.May] Cov        0.002
month[T.January] x month[T.May] Cov         0.001
month[T.July] x month[T.May] Cov            0.002
month[T.June] x month[T.May] Cov            0.002
month[T.March] x month[T.May] Cov           0.003
month[T.May] Var                            0.006
Group x month[T.November] Cov               0.047    0.131
month[T.August] x month[T.November] Cov     0.004    0.016
month[T.December] x month[T.November] Cov   0.036    0.089
month[T.February] x month[T.November] Cov  -0.014    0.018
month[T.January] x month[T.November] Cov   -0.022    0.048
month[T.July] x month[T.November] Cov      -0.002
month[T.June] x month[T.November] Cov      -0.003    0.002
month[T.March] x month[T.November] Cov     -0.009    0.014
month[T.May] x month[T.November] Cov       -0.004    0.011
month[T.November] Var                       0.036    0.085
Group x month[T.October] Cov                0.039    0.115
month[T.August] x month[T.October] Cov      0.003    0.007
month[T.December] x month[T.October] Cov    0.030    0.078
month[T.February] x month[T.October] Cov   -0.012
month[T.January] x month[T.October] Cov    -0.018    0.041
month[T.July] x month[T.October] Cov       -0.002
month[T.June] x month[T.October] Cov       -0.003
month[T.March] x month[T.October] Cov      -0.007
month[T.May] x month[T.October] Cov        -0.003
month[T.November] x month[T.October] Cov    0.030    0.072
month[T.October] Var                        0.029    0.062
Group x month[T.September] Cov              0.029    0.093
month[T.August] x month[T.September] Cov    0.002
month[T.December] x month[T.September] Cov  0.021    0.056
month[T.February] x month[T.September] Cov -0.008
month[T.January] x month[T.September] Cov  -0.013    0.030
month[T.July] x month[T.September] Cov     -0.001
month[T.June] x month[T.September] Cov     -0.001
month[T.March] x month[T.September] Cov    -0.005
month[T.May] x month[T.September] Cov      -0.002
month[T.November] x month[T.September] Cov  0.021    0.052
month[T.October] x month[T.September] Cov   0.019    0.049
month[T.September] Var                      0.018    0.018
=====================================================================================

C:\Users\35799\anaconda3\envs\mda_2022\lib\site-packages\statsmodels\regression\mixed_linear_model.py:2261: ConvergenceWarning:

The Hessian matrix at the estimated parameter values is not positive definite.